<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <!-- <form (ngSubmit)="onSubmitOfForm(FormElem)" #FormElem="ngForm" > -->
        <!--   Instead of submitting the local reference varaiable for the form to onSubmitOfForm()
          let us use ViewChild decorator to refer this local refernce vara -->
            <form (ngSubmit)="onSubmitOfForm()" #FormElem="ngForm" > <!--  (ngSubmit)="onSubmitOfForm()" Event binding -->
          <div id="user-data"
            ngModelGroup="userDataGroup" 
            #userDataGrp = "ngModelGroup">  <!-- Grouping the input using ngModelGroup provided by Angular template approach -->
            <div class="form-group">
              <label for="username">Username</label>
              <input 
              type="text"
              id="username" 
              class="form-control"
              ngModel 
              name="usernameControl"
              required
              #nameRefer="ngModel" 
              >
            </div>
            <span class="help-block" *ngIf="!nameRefer.valid && nameRefer.touched">Please enter a valid Username</span>
            <button class="btn btn-default" (click)="suggestUserName()" type="button">Suggest an Username</button>
            <div class="form-group">
              <label for="email">Mail</label>
              <input
                type="email"
                id="email"
                class="form-control"
                ngModel
                name="emailControl"
                required
                email
                #emailRefer="ngModel">
                <span class="help-block" *ngIf="!emailRefer.valid && emailRefer.touched">Please enter a valid email address</span>
            </div>
          </div>
          <p *ngIf="!userDataGrp.valid && userDataGrp.touched">User data is invalid</p>
          <div class="form-group">
            <label for="secret">Secret Questions</label>
            <select 
              id="secret"
              class="form-control"
              [ngModel]="defaultQuestion"
              name="secretControl"
              >
              <option value="pet">Your first Pet?</option>
              <option value="teacher">Your first teacher?</option>
            </select>
          </div>
          <div class="form-group">
            <textarea
              name="questionAnswerControl" 
              cols="30" 
              rows="5"
              class="form-control"
              [(ngModel)] ="answerValue" 
              ></textarea> <!-- two way databinding -->
          </div>
          <p>You reply : {{answerValue}}</p>
          <div class="radio" *ngFor="let gender of genders">
            <label  >
              <input 
              type="radio"
                name="gender"
                ngModel
                [value] ="gender"
                required
                > {{gender}}
            </label>
          </div>
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="!FormElem.valid">Submit</button><!-- [disabled]="!FormElem.valid" property binding -->
        </form>
      </div>
    </div>
    <hr>
    <h3>Your data submited to form is : </h3>
    <div class="row" *ngIf="isFormSubmitted">
      <div class="col-xs-12">
        <p>username : {{userObj.username}}</p>
        <p>email : {{userObj.email}}</p>
        <p>Secret QUestion : {{userObj.secretQuestion}}</p>
        <p>Answer : {{userObj.answer}}</p>
        <p>Gender : {{userObj.gender}}</p>
      </div>
    </div>
  </div>
  
  
  